:root {
  /* Base */
  --white: #fefefe;
  --black: #080808;

  /* Gray */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #9f9fa9;
  --gray-500: #71717b;
  --gray-600: #52525c;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #09090b;

  /* Green */
  --green-50: #f1fcf4;
  --green-100: #ddfbe6;
  --green-200: #bef4cf;
  --green-300: #8beaaa;
  --green-400: #51d77d;
  --green-500: #2ac05c;
  --green-600: #1c9d48;
  --green-700: #1a7b3b;
  --green-800: #1a6133;
  --green-900: #17502c;
  --green-950: #072c15;

  /* Teal */
  --teal-50: #f0fdfa;
  --teal-100: #cbfbf1;
  --teal-200: #96f7e4;
  --teal-300: #46ecd5;
  --teal-400: #00d5be;
  --teal-500: #00bba7;
  --teal-600: #009689;
  --teal-700: #00786f;
  --teal-800: #005f5a;
  --teal-900: #0b4f4a;
  --teal-950: #022f2e;

  /* Cyan */
  --cyan-50: #eff9ff;
  --cyan-100: #dff2ff;
  --cyan-200: #b8e7ff;
  --cyan-300: #78d6ff;
  --cyan-400: #2ec0ff;
  --cyan-500: #06a9f1;
  --cyan-600: #0087ce;
  --cyan-700: #006ca7;
  --cyan-800: #025b8a;
  --cyan-900: #084c72;
  --cyan-950: #062f4b;

  /* Blue */
  --blue-50: #ecf1ff;
  --blue-100: #dde4ff;
  --blue-200: #c2ceff;
  --blue-300: #9cacff;
  --blue-400: #757fff;
  --blue-500: #4c4cff;
  --blue-600: #4536f5;
  --blue-700: #3b2ad8;
  --blue-800: #3025ae;
  --blue-900: #2b2689;
  --blue-950: #1b1650;

  /* Purple */
  --purple-50: #f6f2ff;
  --purple-100: #ede8ff;
  --purple-200: #ddd4ff;
  --purple-300: #c5b1ff;
  --purple-400: #a985ff;
  --purple-500: #9053ff;
  --purple-600: #8230f7;
  --purple-700: #741ee3;
  --purple-800: #6018bf;
  --purple-900: #50169c;
  --purple-950: #310b6a;

  /* Pink */
  --pink-50: #fef4ff;
  --pink-100: #fce8ff;
  --pink-200: #f9cfff;
  --pink-300: #f9aafd;
  --pink-400: #f577fb;
  --pink-500: #ec4ff2;
  --pink-600: #d324d5;
  --pink-700: #b11ab0;
  --pink-800: #911790;
  --pink-900: #761972;
  --pink-950: #4f034c;

  /* Red */
  --red-50: #fff1f2;
  --red-100: #ffdfe2;
  --red-200: #ffc5ca;
  --red-300: #ff9da5;
  --red-400: #ff6471;
  --red-500: #ff3849;
  --red-600: #ed1527;
  --red-700: #c80d1d;
  --red-800: #a50f1c;
  --red-900: #88141e;
  --red-950: #4b040a;

  /* Amber */
  --amber-50: #fffbeb;
  --amber-100: #fef3c6;
  --amber-200: #fee685;
  --amber-300: #ffd230;
  --amber-400: #ffb900;
  --amber-500: #fe9a00;
  --amber-600: #e17100;
  --amber-700: #bb4d00;
  --amber-800: #973c00;
  --amber-900: #7b3306;
  --amber-950: #461901;

  /* Border Radius */
  --rounded-sm: 2px;
  --rounded: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-3xl: 24px;
  --rounded-full: 9999px;

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 64px;
}
