.ds-select {
  border: 1px solid var(--select-default-border, #d4d4d8);
  background-color: var(--select-default-background, #fefefe);
  border-radius: var(--border-radius-rounded-md, 6px);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-2) var(--spacing-3);
  width: 150px;
  cursor: pointer;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}
.ds-select__native {
  flex: 1 0 0;
  font-family: var(--typography-body-1-family, "Noto Sans", sans-serif);
  font-size: var(--typography-body-1-size, 16px);
  font-weight: 400;
  line-height: var(--typography-body-1-line-height, 24px);
  letter-spacing: 0.15px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--select-default-text, #080808);
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.ds-select__native:disabled {
  color: var(--select-disabled-text, #71717b);
  cursor: not-allowed;
}
